<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
<div class="main">
    <div class="navbar">
        <div class="menu">
            <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html/">About</a></li>
                    <li><a href="index.html">Services</a></li>
                    <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="search">
            <input class="srch" type="search" name="" placeholder="Search here">
            <a href="#"><button class="btn">Search</button></a>
        </div>
    </div>

      <!-- #CONTACT -->
    <section id="contact">
        <div class="contact-container">
            <div class="contat-header">
                <h4 class="cont">Get in Touch</h4>
                <p class="cont1">Thank you for visiting out my profile. If you would like to get into contact with me, please fill out the form below.</p>
            </div>
            <div class="contact-form">
                <form action="#">
                    <div class="forms">
                        <div class="form1">
                            <input type="text" name="name" placeholder="Enter your name">
                        </div>
                        <div class="form1">
                            <input type="text" name="email" placeholder="abc@example.com">
                        </div>
                        <div class="form1">
                            <textarea name="message" cols="30" rows="10" placeholder="Write message"></textarea>
                        </div>
                        <div class="form1">
                            <button type="button">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>