<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="mainn">
        <div class="navbar">
            <div class="menuu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <h1>Sign Up</h1>
            <form action="#" class="action">
                <input type="text" placeholder="Username">
                <input type="email" name="email" placeholder="Enter email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Re-Enter Password">
            </form>
            <div class="terms">
                <input type="checkbox" id="checkbox">
                <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
            </div>
            <button><a href="/login">Sign Up</a></button>
            <div class="member">
                Already a member? <a href="./login">
                    Login here
                </a>
            </div>
        </div>
    </div>
</body>
</html>